{% extends "account/account-base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block account_manage_container %}

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">

    <div class="row">
        <div class="col-md-8 col-md-offset-4 account-action">
            <h1>{% trans 'Password reset done' %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 account-action-confirmation">
            <div class="message-justified">
                <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
                <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
            </div>
        </div>
    </div>

</div>

{% endblock account_manage_container %}
