{% extends "account/account-base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block account_manage_container %}

<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">

    {% if validlink %}

    <div class="row">
        <div class="col-md-8 col-md-offset-4 account-action">
            <h1>{% trans 'Reset password' %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-4 account-action-details">
            <div class="details">
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
            </div>
        </div>
    </div>

    <form id="password-change-form" method="post">

        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 validation-error">
                {{ form.non_field_errors }}
            </div>
        </div>
        {% endif %}

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="{{ form.id_new_password1.id_for_label }}">
            {{ form.new_password1.label }}{% if form.new_password1.field.required %}&nbsp;*{% endif %}
            </label>
            <div class="col-md-8">
            {{ form.new_password1|add_class:"form-control" }}
            </div>
            {% if form.new_password1.errors %}
            <div class="col-md-8 col-md-offset-4 validation-error">{{ form.new_password1.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label" for="{{ form.id_new_password2.id_for_label }}">
            {{ form.new_password2.label }}{% if form.new_password2.field.required %}&nbsp;*{% endif %}
            </label>
            <div class="col-md-8">
            {{ form.new_password2|add_class:"form-control" }}
            </div>
            {% if form.new_password2.errors %}
            <div class="col-md-8 col-md-offset-4 validation-error">{{ form.new_password2.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group row">
            <div class="col-md-8 col-md-offset-4">
                <input class="btn btn-primary" id="password-reset-confirm-form-submit" type="submit" value="{% trans 'Change password' %}" />
            </div>
        </div>

    </form>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}

</div>

{% endblock account_manage_container %}
